/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  color: #0250c3; 
  font-size:60px;
  text-align: center; 

  font-weight: 900;
  background-color: #ffe053;
}

#contact{
  background-color: #ffffff;
}

#about{
  background-color: #03a65a;
}

#logo{

width: 212.8px; height: 53.9px;
}
#nav{
  font-size: 100px;
  padding-top: 30px;
  margin-right: 30px;
  list-style-type: none;
}


#nav li a{
color: #0250c3; 

}

#nav li a:hover{
  color: rgba(0,0,0,0);
  text-decoration: none;
  transition: .3s ease-in-out;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #0250c3;
  font-size: 120px;
}

#menu{
   list-style-type: none;
 }

#menu p a{
color: #f24405; 
}

#menu p a:hover{
  color: rgba(0,0,0,0);
  text-decoration: none;
  transition: .3s ease-in-out;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #f24405;

}

#flecha-ih{
  font-size: 150px;
list-style-type: none;
color: #0250c3;
    position: absolute;
    top: 220px;
    left: 250px;
}

#flecha-ih:hover{
  color: rgba(0,0,0,0);
  text-decoration: none;
  transition: .3s ease-in-out;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #0250c3;
}

#flecha-dh{
  font-size: 150px;
  position: absolute;
  top: 220px;
  right: 250px;
  }

#flecha-dh{
list-style-type: none;

}
#flecha-dh{
color: #0250c3;
}

#flecha-dh:hover{
color: rgba(0,0,0,0);
  text-decoration: none;
  transition: .3s ease-in-out;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #0250c3;
}
#flecha-i{
  font-size: 150px;
list-style-type: none;
color: white;
    position: absolute;
    top: 220px;
    left: 250px;
}

#flecha-i:hover{
  color: rgba(0,0,0,0);
  text-decoration: none;
  transition: .3s ease-in-out;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
}

#flecha-d{
  font-size: 150px;
  position: absolute;
  top: 220px;
  right: 250px;
  }

#flecha-d{
list-style-type: none;

}
#flecha-d{
color: white;
}

#flecha-d:hover{
color: rgba(0,0,0,0);
  text-decoration: none;
  transition: .3s ease-in-out;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
}

#flecha-ci{
  font-size: 150px;
list-style-type: none;
color: #03a65a;
    position: absolute;
    top: 200px;
    left: 120px;
}

#flecha-ci:hover{
  color: rgba(0,0,0,0);
  text-decoration: none;
  transition: .3s ease-in-out;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #03a65a;
}

#flecha-cd{
  font-size: 150px;
  position: absolute;
  top: 200px;
  right: 90px;
  }

#flecha-cd{
list-style-type: none;

}
#flecha-cd{
color: #03a65a;
}

#flecha-cd:hover{
color: rgba(0,0,0,0);
  text-decoration: none;
  transition: .3s ease-in-out;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #03a65a;
}

#rs{
  position: absolute;
  top:835px;
  left: 593px;
}

#rs img{
  margin: 5px;
  padding: 5px;

}

#menu2{
  color: #ffe053;

}
#menu2{
   list-style-type: none;
 }

#menu2 p a{
color: #ffe053; 
}

#menu2 p a:hover{
  color: rgba(0,0,0,0);
  text-decoration: none;
  transition: .3s ease-in-out;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #ffe053;


}

#nav2{
  padding-top: 150px;
  list-style-type: none;
}


#nav2 li a{
color: #03a65a; 

}

#nav2 li a:hover{
  color: rgba(0,0,0,0);
  text-decoration: none;
  transition: .3s ease-in-out;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #03a65a;
  
}

#rs2{
position: absolute;
  top:835px;
  left: 611px;
}

#rs2 img{
  margin: .2px;
  padding-top: 5px;
  padding-left: -3px;
}

#menu3{
  font-size: 50;
   list-style-type: none;
 }

#menu3 p a{
color: #ffe053; 
}

#menu3 p a:hover{
  color: rgba(0,0,0,0);
  text-decoration: none;
  transition: .3s ease-in-out;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #ffe053;

}
#rs3{
	color: #ffe053;
}


#rs3{
  position: absolute;
  top:835px;
  left: 611px;}

#rs3 img{
  margin: 8px;
  padding-top: 5px;
}

#nav3{
  padding-top: 100px;
  list-style-type: none;
}


#nav3 li a{
color: #0250c3; 

}

#nav3 li a:hover{
  color: rgba(0,0,0,0);
  text-decoration: none;
  transition: .3s ease-in-out;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #0250c3;
}

#nombre{
	color: white;
  margin-top: -70px;
}

#aboutme{
	color: white;
	font-size: 30px;
  text-align: center;

}



#nav4{
  font-size: 100px;
  padding-top: 140px;
  list-style-type: none;
  position
}


#nav4 li a{
color: #0250c3; 

}

#nav4 li a:hover{
  color: rgba(0,0,0,0);
  text-decoration: none;
  transition: .3s ease-in-out;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #0250c3;
  
}

.masonry-grid img{
  width: 100%;
  max-width: 100%;
  margin:2px;
  padding: 22px;
  opacity: 95%;

}

.masonry-grid p{
 font-family: 'Source Code Pro'; 
margin-left: 250px;

}


.masonry-grid{
  margin-bottom: 100px;
} 

.masonry-column {
  padding: 0;
}

.masonry-grid > div .thumbnail {
  margin: 0;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

